<h1>Bienvenue !</h1>
<%= form_for :calculator, url: { action: :new }, method: :get do |f|   %>
  <%= number_field_tag :a, params[:a] %>
  <%= select_tag :operation, options_for_select([['+', :sum], ['-',    :subtr], ['*', :mult], ['/',    :div]], params[:operation]) %>
  <%= number_field_tag :b, params[:b] %>
  <%= f.submit 'Calculer!' %>
<% end %>


<% unless @result.nil? %>
  <p>= <%= @result %>  </p>
  

<% end %>